---
title: Caroline & Arvin are getting married in Toronto!
---

<!-- Loading container div -->
<div class="loading"></div>

{{> _rsvp}}

{{> _menu}}

<!-- Main container for content -->
<div class="main-container">

  {{> _intro}}

  <div class="tip-container tip-right">
    <div class="tooltip">{{tooltip.[0]}}</div>
    <div class="cat icons-pusheen-left"></div>
  </div>

  {{> _events}}

  <div class="tip-container tip-left">
    <div class="tooltip">{{tooltip.[1]}}</div>
    <div class="cat icons-pusheen-right"></div>
  </div>

  {{> _accommodations}}

  <div class="tip-container tip-right">
    <div class="tooltip">{{tooltip.[2]}}</div>
    <div class="cat icons-pusheen-left"></div>
  </div>

  {{> _wondering}}

  <div class="tip-container tip-left">
    <div class="tooltip">{{tooltip.[3]}}</div>
    <div class="cat icons-pusheen-right"></div>
  </div>

  {{> _thingstodo}}

  <div class="tip-container tip-right">
    <div class="tooltip">{{tooltip.[4]}}</div>
    <div class="cat icons-pusheen-left"></div>
  </div>

  {{> _contact}}

  <div class="tip-container tip-left">
    <div class="tooltip">{{tooltip.[5]}}</div>
    <div class="cat icons-pusheen-right"></div>
  </div>

  {{> _outro}}

</div>
